<h1>Sign In</h1>
<%= form_with url: session_path, local: true do |f| %>
    <div>
        <%= f.label :email %>
        <%= f.email_field :email%>
    </div>
     <div>
        <%= f.label :password %>
        <%= f.password_field :password%>
    </div>

    <%= f.submit "Sign In" %>

<% end %>

<hr>

<h5>Security</h5>

<%#= link_to('Forgot Password', forgot_password_path(@user.id), class: "btn btn-outline-primary") %>

<br>