<h1>Discussion Edit Form</h1>

<%= form_with(model: [@project, @discussion], local: true) do |f| %>
    <% if @discussion.errors.present? %>
        <p class="form-errors" >
            <%= @discussion.errors.full_messages.join(", ") %>
        </p>
    <% end %>

    <div class="form-group" >
        <div class="form-control" >
            <%= form.label :title%><br>
            <%= form.text_field :title %>
        </div>
        <div class="form-control" >
        <%= form.label :description %><br>
        <%= form.text_area :description, cols: 50, rows:5%>
        </div>
    </div>
    <%= f.submit 'Discussion' %>
<% end %>
