<%= form_with(model: @project, local: true) do |form|%>
<% if @project.errors.any? %>
  <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
<div>
    <%= form.label :title%><br>
    <%= form.text_field :title %>
</div>
<div>
    <%= f.label :due_date %>
    <%= f.date_field :due_date %>
</div>
<div>
    <%= form.label :description %><br>
    <%= form.text_area :description, cols: 50, rows:5%>

    <br>
    <%= form.submit %>
</div>
<% end %>